{% macro sectionHeader(sectionTitle, siteTitle, tournamentYear, tournamentDate) %}
<div class="row">
    <div class="col-12">
        <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ sectionTitle }}</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">{{ siteTitle }} {{ tournamentYear }} - {{ tournamentDate }}</p>
        </div>
    </div>
</div>
{% endmacro %}