<!-- Modernizr - WebP -->
<script src="/assets/js/modernizr-webp.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" as="style"> <!-- Icon -->
{# <link rel="preload" type="text/css" href="assets/fonts/line-icons.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
<!-- Slicknav --> <link
rel="preload"
    type="text/css"
    href="/assets/css/slicknav.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"> <!-- Nivo Lightbox -->
<link
rel="preload"
    type="text/css"
    href="/assets/css/nivo-lightbox.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"> <!-- Animate -->
<link
rel="preload"
    type="text/css"
    href="/assets/css/animate.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"> <!-- Preload Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin/>
<link
rel="preconnect" href="https://fonts.gstatic.com" crossorigin/> <!-- Main Style -->
<link
rel="stylesheet" type="text/css" href="/assets/css/main.css"> <!-- Responsive Style -->
<link
rel="stylesheet" type="text/css" href="/assets/css/responsive.css"> <!-- Custom Style -->
<link
    rel="preload"
    type="text/css"
    href="/assets/css/custom.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">